aiohttp
httpx
httpcore
h11
anyio
sniffio
certifi
idna
charset-normalizer
attrs
aiosignal
multidict
yarl
frozenlist
async-timeout
pyee==13.0.1
ffmpy
websockets
websockets_proxy==0.1.3
betterproto==2.0.0b7
mashumaro
protobuf
protobuf3-to-dict
typing-extensions
EulerApiSdk==0.0.3
TikTokLive==6.6.5
pyjnius