python3==3.11.9
hostpython3==3.11.9
aiohttp
httpx
httpcore
h11
anyio
sniffio
certifi
idna
charset-normalizer
attrs
aiosignal
multidict
yarl
frozenlist
async-timeout
pyjnius
requests
websocket-client
piratetok-live-py